<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
	<system.serviceModel>
		<client>
			<endpoint name="RelayEndpoint" behaviorConfiguration="sbTokenProvider" address="sb://sinoapi.servicebus.chinacloudapi.cn/EchoService" 
					  contract="EchoClient.IEchoContract" binding="netTcpRelayBinding"/>
		</client>
		<behaviors>
			<endpointBehaviors>
				<behavior name="sbTokenProvider">
					<transportClientEndpointBehavior>
						<tokenProvider>
							<sharedAccessSignature keyName="RootManageSharedAccessKey" key="" />
						</tokenProvider>
					</transportClientEndpointBehavior>
					<serviceRegistrySettings discoveryMode="Private" ></serviceRegistrySettings>
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<extensions>
			<bindingExtensions>
				<add name="netTcpRelayBinding"
					type="Microsoft.ServiceBus.Configuration.NetTcpRelayBindingCollectionElement, Microsoft.ServiceBus, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			</bindingExtensions>
			<behaviorExtensions>
				<add name="connectionStatusBehavior"
					type="Microsoft.ServiceBus.Configuration.ConnectionStatusElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
				<add name="transportClientEndpointBehavior"
					type="Microsoft.ServiceBus.Configuration.TransportClientEndpointBehaviorElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
				<add name="serviceRegistrySettings"
					type="Microsoft.ServiceBus.Configuration.ServiceRegistrySettingsElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			</behaviorExtensions>
			<bindingElementExtensions>
				<add name="netMessagingTransport"
					type="Microsoft.ServiceBus.Messaging.Configuration.NetMessagingTransportExtensionElement, Microsoft.ServiceBus,  Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
				<add name="tcpRelayTransport"
					type="Microsoft.ServiceBus.Configuration.TcpRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
				<add name="httpRelayTransport"
					type="Microsoft.ServiceBus.Configuration.HttpRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
				<add name="httpsRelayTransport"
					type="Microsoft.ServiceBus.Configuration.HttpsRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
				<add name="onewayRelayTransport"
					type="Microsoft.ServiceBus.Configuration.RelayedOnewayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			</bindingElementExtensions>
		</extensions>
	</system.serviceModel>
</configuration>